.filter_home{
	display: flex;
	flex-wrap: wrap;
	.f_row{
		width: 25%;
		padding: 5px 10px;
	}
	@media ( max-width: 991px ){
		display:block;
		.f_row{
			width: 100%;
		}
	}
	#quan_huyen_hn{
		display: none;
	}
	#quan_huyen_hcm{
		display: none;
	}
	#dien_tich{
		position: relative;
		overflow: hidden;
		.dt_from_to{
			position: absolute;
			left: 0;
			bottom: -100%;
		}

	}
	#dien_tich:hover{
		.dt_from_to{
			left: 0;
			top: 50px;
		}
	}
	button{
		width: 100%;
		transition: 0.3s ease-in;
		color: #fff;
		&:hover{
			background: #026613;
		}
	}
	&.filter_widget{
		display: block;
		border: 1px #aaa solid;
		padding: 10px;
		padding-top: 20px;
		border-radius: 5px;
		background-color: #f3f3f3;
		.f_row{
			width: 100%;
		}
	}


}
.filterwp .fwp-topbar{
	display: none;
}